
video 2/2. question on loops/q2.py
video 2/2. question on loops/q3.py
video 2/2. question on loops/q4.py
video 2/2. question on loops/q5.py
video 2/2. question on loops/q6.py
video 2/2. question on loops/q7.py
video 2/2. question on loops/q8.py
video 2/2. question on loops/q9.py
video 2/2. question on loops/q10.py
video 2/2. question on loops/q11.py
video 2/2. question on loops/q12.py
video 2/2. question on loops/q13.py
video 2/2. question on loops/q14.py
video 2/2. question on loops/q15.py
